# Django
DEBUG=True
SECRET_KEY=change-me

# Database
POSTGRES_DB=musical_rater
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# External catalog providers
MUSICBRAINZ_USER_AGENT=musical-rater/0.1 ( your-contact-url-or-email )

# JWT / Auth (futuro)
JWT_SECRET=change-me
