# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*.sqlite3
*.log
.env
.venv/

# =========================
# Node / React
# =========================
node_modules/
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================
# Editor / OS
# =========================
.vscode/
.idea/
.DS_Store

# =========================
# Misc
# =========================
coverage/
.cache/